@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-heading: "Playfair Display", serif;
  --color-primary: #1e40af;
  --color-accent: #0ea5e9;
  --color-danger: #dc2626;
  --color-warning: #f59e0b;
}
